<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.andela.pronotes"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="RestClient.db"/>
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1"/>

        <activity
            android:name=".activities.HomeDashboardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.CreateNewNote">
        </activity>
        <activity android:name=".activities.ReminderActivity">
        </activity>
        <activity android:name=".activities.AllNotesActivity">
        </activity>
        <activity android:name=".activities.NoteBooksActivity">
        </activity>
        <activity
            android:name=".activities.ReadNoteActivity"
            android:label="@string/title_activity_trash"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activities.TrashListActiviy">
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
    </application>

</manifest>
